global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h
    timeout check 5s

listen mnemos-postgres-primary
    bind *:5000
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server pythia 192.168.207.67:5433 check port 8008
    server cerberus 192.168.207.96:5434 check port 8008

listen mnemos-postgres-replicas
    bind *:5001
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 2s fall 3 rise 2 on-marked-down shutdown-sessions
    server pythia 192.168.207.67:5433 check port 8008
    server cerberus 192.168.207.96:5434 check port 8008

listen patroni-stats
    bind *:7000
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
